PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/expense-tracker?retryWrites=true&w=majority

JWT_SECRET=generate_a_random_64_char_string_here
JWT_EXPIRES_IN=7d

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_gmail@gmail.com
EMAIL_PASS=your_16_char_gmail_app_password
EMAIL_FROM=ExpenseTracker <your_gmail@gmail.com>

OTP_EXPIRES_IN_MINUTES=10